.hero {
  background: var(--main-blue);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}

.feature,
.about,
.course,
.testimonial {
  margin-top: 80px;
}
.application {
  margin-top: 100px;
}
.feature-card {
  background: #ffffff;
  box-shadow: rgb(238 238 238) 0px 2px 14px 0px;
  border-radius: 24px;
  transition: ease-in 0.3s;
}
.feature-card-icon {
  height: 80px;
  width: 80px;
  background-color: var(--main-blue);
  border-radius: 15px;
}

.application-content {
  background-color: var(--main-blue);
  border-radius: 20px;
}
.application-content img {
  margin-top: -50px;
}

.course-card {
  max-width: 300px;
  border-radius: 24px;
  overflow: hidden;
}

.testimonial-card {
  padding: 1.2rem 1rem;
}
.testimonial-card img {
  height: 85px;
  width: 85px;
  border-radius: 15px;
}
.slick-slide {
  padding: 1rem 0.8rem;
}
.slick-dots li button:before {
  font-size: 9px !important;
  margin: 0px !important;
}
.slick-dots li {
  margin: 0 !important;
}
.slick-dots li.slick-active button:before {
  color: var(--main-blue) !important;
}

.footer {
  color: var(--main-dark);
}
.footer .social a {
  color: var(--main-dark);
  font-size: 1.2rem;
  margin-right: 1rem;
  transition: ease-in 0.3s;
}
.social a:hover {
  color: var(--main-blue);
}

.notfound-content {
  margin-top: 120px;
}
.oops {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -15px;
}
.notfound-404 {
  font-size: 80px;
  font-weight: 800;
}
.notfind {
  font-size: 18px;
  line-height: 1.2rem;
}

@media (min-width: 1024px) {
  .feature,
  .about,
  .course,
  .testimonial {
    margin-top: 120px;
  }
  .application {
    margin-top: 180px;
  }

  .course-card {
    max-width: 360px;
  }
  .course-content {
    padding-right: 130px !important;
  }
  .slick-next,
  .slick-prev {
    right: 0 !important;
    top: -30px !important;
    height: 52px !important;
    width: 52px !important;
    background-color: #ff6330 !important;
    border-radius: 50%;
  }
  .slick-next:before,
  .slick-prev:before {
    background-image: url("../images/arrow-right-solid.svg");
    background-repeat: no-repeat;
    content: "" !important;
    height: 24px !important;
    width: 24px !important;
    position: absolute;
    right: 12px;
    top: 13px;
  }
  .slick-prev:before {
    background-image: url("../images/arrow-left-solid.svg");
  }
  .slick-prev {
    margin-left: auto;
    margin-right: 60px;
  }

  .application-content {
    height: 500px;
  }
  .application-content img {
    margin-top: -80px;
  }

  .feature-card:hover {
    box-shadow: 0px 8px 16px rgb(0 0 0 / 6%);
  }

  .footer-link a {
    padding: 1rem;
  }
}

@media (min-width: 768px) {
  .notfound-404 {
    font-size: 120px;
  }
  .notfound {
    max-width: 20rem;
    margin: 0 auto;
  }
}
