/*=== ALL CSS STYLE=== */


/* === All Title === */


/* ===Banner=== */
.mainHero{
  background:url(../images/mobile-background.svg);
  height: 640px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: left;
}

.mainHero-background{
  /* height: 100%;
  left: 50%; */
  position: absolute;
  top: 0;
  z-index: -1;
  /* margin-top: -80px;
  transform: translateX(-50%); */
}
.mainHero-content{
  padding-top: 6rem;
}




/* ===Advantages=== */
.advantItems,
.pricingPlans-items{
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  padding-left: 1rem;
}

.advantItems-grid,
.pricingPlans-grid{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  box-sizing: border-box;
  float: left;
  position: relative;
  padding-bottom: 2rem;
  padding-top: 1rem;
}

.advantItems-card,
.pricingPlans-card{
  text-align: center;
  display: inline-block;
  overflow-x: auto;
  padding-top: 1.2rem;
  margin-right: 1.8rem;
  border-radius: 0.3rem;
  width: 280px;
  background-color: var(--main-light);
  border: none;
  box-shadow: rgb(238 238 238) 0px 2px 14px 0px;
  
}
/* .advantItems-card:hover{
  cursor: pointer;
  box-shadow: 0px 9px 60px rgba(0, 0, 0, 0.1);
  -moz-box-shadow:0px 9px 60px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow:0px 9px 60px rgba(0, 0, 0, 0.1);
} */


.advantItems-img img{
  max-width: 100%;
}

.advantItems-content{
  padding: 0.5rem 1rem;
}

/* ====About Us=== */
.amountText{
  font-size: 35px;
  font-weight: 600;
  color: var(--main-blue);
}


/* ===Feautured=== */
.feauturedItems-card{
  max-width: 330px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: rgb(238 238 238) 0px 2px 14px 0px;
}



/* ===Plan=== */
.pricingPlans-card{
  text-align: center;
  padding: 2rem 1rem;
}



/* ===Testimonial=== */
.testimonialCard{
  padding: 2rem 0;
  border-radius: 12px;
  
}

.testimonialCard-link-social .link-social{
  font-size: 1.2rem;
  margin: 0 0.5rem;
  color: #151515;
}
.link-social:hover{
  color: #292929;
}

.slick-slider .slick-slide{
  filter: blur(2px);
}
.slick-slider .slick-center{
  filter: none;
}
.slick-slider .slick-center .testimonialCard{
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  transform:scale(1.1,1.1);
  transition: all 0.5s ease;
}

.slick-track{
  padding: 3rem 0;
}

.slick-arrow{
  background: var(--main-gradient) !important;
  border-radius: 50%;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.3);
  height: 45px !important;
  width: 45px !important;
}

.slick-prev:before, .slick-next:before{
  font-family: 'poppins', sans-serif !important;
  color: var(--main-light) !important;;
}

.slick-prev, .slick-next{
  top: 0 !important;
  z-index: 2;
}

.slick-prev{
  left: 0 !important;
  margin-left: auto;
  margin-right: 60px;
  right: 0 !important;
}

.slick-next{
  right: 0 !important;
}

/* ===FAQ=== */
.faq-card{
  background-color: #fff;
  transition: all 0.5ms ease-in;
  cursor: pointer;
  
}
.faq-card:hover{
  background: var(--main-gradient);
  color: #fff;
}

.faq-card .card-body{
  transition: all 0.5s ease;
}

/* .accordionTitle::after{
  content: "";
  height: 10px;
  width: 10px;
  background-color: red;
}
.accordionTitle.active::after{
  content: "";
  height: 10px;
  width: 10px;
  background-color: black;
} */

/* ===Events & Programs=== */
.programs-area.container,
.events-area.container{
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}

.programs-items,
.events-items{
  position: relative;
  padding-left: 1rem;
  overflow-x: auto;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}

.programs-items-grid,
.events-items-grid{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  box-sizing: border-box;
  padding: 5px;
  float: left;
  margin-bottom: 2rem;
  position: relative;
}

.programs-card, 
.events-card{
  display: inline-block;
  max-width: 240px;
  margin-right: 1.2rem;
  border-radius: 0.3rem;
  overflow-x: auto;
  background-color: var(--main-light);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


/* ===End of Events & Programs=== */

/* ===Register=== */
.register-card{
  height: 300px;
  max-width: 18rem;
  padding-top: 30px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -50px;
  margin-bottom: -60px;
  position: relative;
  z-index: 10;
  overflow: hidden;
  background-color: rgb(239, 239, 239);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.register-body .second-title,
.register-body .subtitle{
  max-width: 32rem;
}

.register-card::before{
  content: "";
  position: absolute;
  background-image: url(../images/shape-2.png);
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  z-index: -1;

}
/*===End of Register=== */




/* ===Footer=== */
.footer-area{
  position: relative;
  z-index: 3;
  background-color: var(--main-blue);
  color: var(--main-light);
}
.footerSoc a{
  font-size: 2rem;
  margin-left: 1rem;
  color: #fff;
}
.footerSoc a:hover{
  color: #CDCDCD;
}
.footerPartner img{
  margin-left: 1rem;
}

.footerLink{
  margin-top: 0.5rem;
  display: block;
  cursor: pointer;
  color: #fff;
  font-weight: 400;
  transform: all 0.1ms ease;
}
.footerLink:hover{
  color: #cdcdcd;
}
.footerItems-line{
  width: 20%;
  margin-left: auto;
  border-color: #fff;
  margin-top: 2rem;
}

.form-control{
  border-style: hidden !important;
  border-bottom: 1px solid #fff !important;
  border-radius: 0 !important;
  color: #fff !important;
  font-size: 1rem;
}
.form-control::placeholder{
  font-size: 0.9rem;
  font-style: italic;
  color: #fff !important;
}
.btn .subscribeBtn{
  font-size: 0.8rem;
  font-weight: 200 !important;
  font-weight: 100 !important;
}

/* === End of Footer=== */

/* ===404 Notfound=== */
.notfound-content{
  margin-top: 120px;
}
.oops{
  font-size: 30px;
  font-weight: 600;
  margin-bottom: -15px;
}

.notfound-404{
  font-size: 80px;
  font-weight: 800;
}

.notfind{
  font-size: 18px;
  line-height: 1.2rem;
}

/* End of 404 Notfound=== */

/* ===RESPONSIVE=== */
@media (min-width:1024px) {

  /* ===Banner=== */

  .banner-content{
    text-align: left;
    white-space: pre-line;
  }

  .banner-content .main-title{
    margin-top: 90px;
  }

  .banner-content .subtitle,
  .banner-content .main-title{
    max-width: 30rem;
    padding: 0;
  }
    
  .full-banner{
    /* -o-object-fit: cover; */
    /* object-fit: cover; */
    height: 667px;
    /* width: 100%; */
  }

  /* .wish-festival-logo{
    width: 100px;
    overflow: hidden;
  } */
  .wish-online-logo img,
  .wish-festival-logo img{
    max-width:300px;
  }

  .banner-logos{
    justify-content: start;
  }
  /* ===End of Banner=== */

  /* ===Programs & Events=== */
  .advantItems-card,
  .events-card{
    width: 100%;
  }

  .advantItems-grid,
  .events-items-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin-bottom: 2.5rem;
  }
  /* ===End of Programs & Events=== */

  /* ===FAQ=== */
  .accordion .card,
  .accordion .card .card-header{
    background-color: #FFF;
    border: none;
    border-color: transparent;
    box-shadow: 0px 9px 60px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0px 9px 60px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
  }
  .accordion .card .card-header.active,
  .accordion .card .card-header:hover{
    background: var(--main-gradient);
    color: #FFF;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  
  .accordion .card-body{
    background: linear-gradient(90.04deg, #2181B7 1.72%, rgba(23, 151, 223, 0.94) 87.92%);
    color: #FFF;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }



  /* ===Register=== */
  .register-card{
    margin-top: 30px;
  }
  

/* ===Footer=== */
  .footer-link a{
    padding: 1rem;
  }
  
  
}


/* ===Responsive Large Media=== */
@media (min-width:900px) and (max-width:1024px) {
  .banner-content {
    margin-left: 3rem;
  }
}

/* ===Responsive Medium Media=== */
@media (min-width:768px) {
  .banner-logos .btn-outline-light,
  .banner-logos .btn-light{
    width: 100%;
  }

  .register-card {
    max-width: 100%;
    height: auto;
    padding: 0 2rem;
  }

  .partner-card{
    background-color: var(--main-light);
    border-radius: 10px;
    height: 100px;
    padding-right: 1rem;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }

  .footer-items{
    padding-top: 180px;
  }

  .footer-items hr{
    margin-top: 30px;
    width: 100%;
  }

  /* ===404 Notfound=== */
  .notfound-404{
    font-size: 120px;
  }

  .notfind{
    max-width: 20rem;
    margin: 0 auto;
  }
  /* ===End of 404 Notfound=== */
}

  /* ===Responsive Small to Medium Media */
@media (min-width:576px) and (max-width:768px){
  .banner-content .subtitle,
  .banner-content .main-title{
    padding:0 2rem;
  }
}

/* ===Responsive Small Media=== */
@media (min-width:578px){
  .programs-area.container,
  .events-area.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  .programs-items, .events-items{
    padding-left: 0;
  }
  .mainHero{
    background-image: url(../images/background.png);
    height: 707px;
    background-position: center;
  }
}
