@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,Poppins:ital,wght@1,800,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300&display=swap");
:root {
  --main-blue: #1a659e;
  --second-blue: #0162a1;
  --main-light: #ffffff;
  --main-grey: #f5f5f5;
  --main-dark: #2a2b3a;
  --main-gradient: linear-gradient(90deg, #003b73 0%, #0074b7 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a,
a:hover {
  text-decoration: none !important;
  color: #cdcdcd;
}

a {
  color: var(--main-dark);
  transition: 0.4s ease-in-out;
}

dl,
ol,
ul,
li {
  text-decoration: none;
  margin: 0;
}
img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 0px;
  padding-left: 0;
}

.col-lg-12 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

.no-gutters,
.row {
  margin-right: 0;
  margin-left: 0;
}

*:focus {
  outline: none !important;
}

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  background: #eff5f5 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 2000px;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card {
  border-radius: 10px !important;
}

/* ===Main Button=== */
.main-button.btn-light {
  background-color: #ff6e30;
  color: var(--main-light);
  font-weight: 00;
  border-color: #ff6b35;
}
.main-button.btn-light:hover {
  background-color: transparent;
  color: #fff;
}
.main-button.btn-light:focus,
.main-button.btn-light:active {
  border-color: #fff;
  background-color: transparent;
  color: #fff;
}

/* ===Second Button=== */
.second-button.btn-outline-light {
  background-color: transparent;
}
.second-button.btn-outline-light:hover {
  color: var(--main-blue);
}

/* ===Third Button=== */
.third-button.btn-light {
  background-color: var(--main-blue);
  color: var(--main-light);
  border-radius: 5px;
}
.third-button.btn-light:hover {
  background-color: var(--second-blue);
  color: #fff;
}

.main-title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.3;
  color: var(--main-light);
}

.sub-title {
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-light);
}
.second-title {
  color: var(--main-dark);
  font-weight: 600;
  font-size: 1.5rem;
}
.secondHero-text {
  color: var(--main-blue);
  font-size: 1.1rem;
  font-weight: normal;
  letter-spacing: normal;
  margin-bottom: 0;
}
.third-title {
  font-size: 20px;
}

.description {
  font-size: 1rem;
}

.mainCard-title {
  font-size: 1rem;
  color: var(--main-dark);
  font-weight: 500;
  margin: 0;
}
.mainCard-text {
  font-size: 0.8rem;
  color: #888888;
  font-weight: 300;
}

@media (min-width: 768px) {
  .main-title {
    font-size: 50px;
    font-weight: 600;
    line-height: 3.5rem;
  }
  .second-title {
    font-size: 2.3rem;
  }
}
