@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --main-blue: #1a659e;
  --main-light: #ffffff;
  --main-dark: #2a2b3a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: var(--main-dark);
  transition: 0.4s ease-in-out;
}

dl,
ol,
ul,
li {
  text-decoration: none;
  margin: 0;
}

img {
  -webkit-user-drag: none;
  -moz-user-drag: none;
}

.pt-6 {
  padding-top: 80px;
}

*:focus {
  outline: none !important;
}

body {
  font-family: "Poppins", sans-serif !important;
  margin: 0;
  background: #eff3f5 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 2000px;
  margin: 0;
  padding: 0;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.card {
  border-radius: 15px !important;
}

/* ===Main Button=== */
.btn.btn-main-button,
.btn.btn-second-button {
  padding: 0.8rem 2rem;
}

.btn.btn-main-button {
  color: white;
  background-color: #ff6e30;
}

.btn.btn-main-button:hover {
  background-color: #fc4b00;
  color: var(--main-light);
}

/* ===Second Button=== */
.btn.btn-second-button {
  color: var(--main-light);
  border: 1px solid var(--main-light);
}
.btn.btn-second-button:hover {
  background-color: var(--main-grey);
  color: var(--main-dark);
}

/* ===Title=== */
.main-title {
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
  color: var(--main-light);
}
.second-title {
  font-size: 2rem;
  color: var(--main-dark);
  font-weight: 600;
}
.sub-title {
  font-size: 1rem;
  font-weight: 400;
  color: var(--main-light);
}
.third-title {
  font-size: 20px;
  font-weight: 600;
}
.description {
  font-size: 1rem;
  font-weight: 400;
}

@media (min-width: 1024px) {
  .main-title {
    font-size: 65px;
    font-weight: 700;
    line-height: 4.3rem;
  }
  .second-title {
    font-size: 45px;
    font-weight: 700;
  }
  .pt-lg-8 {
    padding-top: 128px;
  }
}
