/* ===Navbar=== */
.navbar-light{
  position: relative;
  z-index: 9999;
}
.navbar-light .navbar-toggler {
border-color: transparent !important;
}

.navbar-light .navbar-toggler:focus{
  outline: none;
  border: transparent;
}

/* ===End Of Navbar */


/* ===Banner=== */
.banner-content{
  color: #FFF;
  position: absolute;
  top: 0;
  margin-top: 120px;
  max-width: 16rem;
}
.left-cover{
  height: 500px;
  width: 100%;
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(49,38,130,1) 0%, rgba(52,77,167,1) 100%);
  background-size: cover;
}
/* ===End of Banner=== */